[run]
omit =
    */python?.?/*
    */lib-python/?.?/*.py
    */lib_pypy/*.py
    */site-packages/ordereddict.py
    */site-packages/nose/*
    */unittest2/*
    */dist-packages/*
    */dsptestbed/utils.py
    */dsptestbed/test/*

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover